@use 'variables' as v;

.title-header {
  margin: 150px 0px 0px 0px;
  color: v.$green;
  text-transform: uppercase;
  line-height: 1em;
}

.resources-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 50px 0px 100px 55px;
  z-index: 0;
  width: 90%;
}

.my-resources {
margin-bottom: 0;

}

.resource-card-link {
  text-decoration: none;
  flex-basis: 25%;
}

.resource-card {
  position: relative;
  margin: 10px;
  // padding: 15px 0px 10px 15px;
  background-color: v.$white;
  transition: 0.5s;
  border-radius: 10px;
  overflow: hidden;
  height: 500px;
  text-align: center;

}

.resource-card:hover {
  cursor: pointer;
  box-shadow: v.$box-shadow;
  scale: 1.01;
}

.card-content {
  width: inherit;;
  margin-bottom: 0px;

}

.thumbnail_img {
  display: block;
  height: 400px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: 100%;
  object-fit: cover;
}


.resource-card-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: v.$white-opacity;
  color: v.$green;
  font-weight: 600;
  font-size: 25px;
  text-align: center;
  padding: 10px 10px;
  z-index: 1;
  width: 85%;
}

.category {
  color: v.$white;
  background-color: v.$nav-font;
  text-align: center;
  padding: 18px 0px;
  margin-bottom: 10px;
  font-size: 120%;
  text-transform: uppercase;
}

.avg-rating {
  text-align: center;
  color: v.$teal;
  margin-top: 15px;
}

// my-resources

#my-resources {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.hidden {
  display: none !important;
}

.buttons-container {
  margin: 150px 0px 0px 0px;
  display: flex;
}

.button-area-resource {
  display: flex;
  justify-content: center;
  padding-top: 10px;

}

.edit-resource-button {
  background-color: v.$nav-font;
  border-radius: 5px;
  border: none;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  transition: 0.3s;
  margin-bottom: 50px;

  &:hover {
    background-color: v.$teal;
  }
}


